:root {
  --border-color: rgba(38, 112, 80, 0.6);
  --background-color: #f4fff4;
}

ul {
  list-style: none;
  margin: auto;
  padding: 0px;
}

.pokemon-info {
  font-size: 32px;
  background-color: var(--background-color);
  margin: 3px;
  padding: 5px;
  border-width: 3px;
  border-color: var(--border-color);
}

.pokemon-info:hover .modal-close:hover {
  cursor: pointer;
}

.btn-primary:hover {
  background-color: lightgreen;
  border-color: black;
  color: black;
}

h1 {
  justify-content: center;
}

.modal-header,
.modal-footer {
  background-color: var(--background-color);
}

.btn-secondary {
  background-color: #c43b3b;
  border-color: black;
}

#pokemon-height {
  font-size: x-large;
  align-content: center;
}

#pokemon-image {
  border: solid var(--border-color) 3px;
}
